.dart_tool/
.packages
.pub/
build/
coverage/
.idea/
.vscode/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
android/.gradle/
ios/Pods/
ios/.symlinks/
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/.last_build_id
